.app {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 56px 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    'menu menu menu menu menu menu'
    'content content content content content content'
    'content content content content content content'
    'content content content content content content'
    'content content content content content content'
    'content content content content content content';
  width: 100vw;
  height: 100vh;
  padding: 0;
  border: none;
  overflow: auto;
}

.app > .content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    'left center center center center right'
    'left center center center center right'
    'left center center center center right'
    'left center center center center right'
    'left center center center center right';
  grid-area: content;
  margin-top: 2em;
}

.app > .main.menu {
  grid-area: menu;
  box-shadow: 0 0 12px -8px #000;
}

.center {
  grid-area: center;
}

.left {
  grid-area: left;
}

.right {
  grid-area: right;
}

.login-message-div {
  background: rgb(255, 255, 255);
  border: 1px solid rgba(204, 204, 204, 0.7);
  padding: 16px;
  font-size: 14px;
  text-align: center;
  border-radius: 0.28571429rem;
}

.login-message-parent {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

button.ui.button,
i.icon {
  margin: 0;
}

div.ui.dropdown {
  display: flex;
}

.left {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

.left::-webkit-scrollbar {
  display: none;
}
