:root {
  --base-color: #eeeeee;
  /* --base-menu-background: rgba(232, 232, 232); */
  --base-background-texture: url('../../images/light-sketch.png');
  --secondary-background-texture: #fcfcfc;
  --base-background-color: #fcfcfc;
  --base-border-color: rgba(34,36,38,.15);
  --base-selected-color: rgb(56, 132, 255);
}

.app {
  display: grid;
  grid-template-columns: 91px 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 56px 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    'menu menu menu menu menu menu'
    'sidebar content content content content content'
    'sidebar content content content content content'
    'sidebar content content content content content'
    'sidebar content content content content content'
    'sidebar content content content content content';
  width: 100vw;
  height: 100vh;
  padding: 0;
  border: none;
  overflow: auto;
}

.app > .content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    'center';
  grid-area: content;
}

.app > .main.menu {
  grid-area: menu;
}

.app > .content > .right {
  margin-right: 1em;
}

.app > .content > .left {
  margin-left: 1em;
}

.center {
  grid-area: center;
}

.left {
  grid-area: left;
}

.right {
  grid-area: right;
}

.login-message-div {
  background: rgb(255, 255, 255);
  border: 1px solid rgba(204, 204, 204, 0.7);
  padding: 16px;
  font-size: 14px;
  text-align: center;
  border-radius: 0.28571429rem;
  margin-top: 1em;
}

.login-message-parent {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

button.ui.button,
i.icon {
  margin: 0;
}

div.ui.dropdown {
  display: flex;
}

.left {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

.left::-webkit-scrollbar {
  display: none;
}