.main.menu {
    padding: 0;
}

.main.menu .ui.menu {
    width: 100%;
    height: 100%;
    border-radius: 0;
    margin: 0;
    border: none;
    background: var(--base-background-texture);
    box-shadow: none;
}

.main.menu .ui.menu .item:before {
    display: none;
}

.main.menu .ui.menu .item:first-child {
    width: 91px;
    font-size: 0.8rem;
}