.main.menu {
    padding: 0;
}

.main.menu .ui.menu {
    width: 100%;
    height: 100%;
    border-radius: 0;
    margin: 0;
    background-color: var(--base-menu-background-color);
    background-image: var(--base-background-texture);
    border-top: none;
    border-left: none;
    border-right: none;
}

.main.menu .ui.menu .item:before {
    display: none;
}

.main.menu .ui.menu .item.logo {
    width: 70px;
    font-size: 0.8rem;
}