.create .form {
  box-shadow: var(--base-box-shadow);
  border: 1px solid var(--base-border-color);
  background-color: var(--base-list-background-color);
  padding: 12px;
  height: fit-content;
  width: 100%;
  border-radius: 3px;
}

.create .form .buttons {
  display: flex;
  justify-content: flex-end;
}

.create .form .buttons button {
  margin-right: 3px;
}

.create .form .buttons button:last-child {
  margin-right: 0;
}

.create {
  width: 100%;
}

.create .header {
  margin-top: 8px;
  font-weight: 300;
  font-size: 2rem;
  color: #444;
}

.expense .form .field > .label {
  margin-bottom: 4px;
  padding-left: 2px;
  font-style: italic;
  font-weight: bold;
}
