.x-sidebar.ui.vertical.icon.menu {
  grid-area: sidebar;
  border: none;
  background-color: var(--base-menu-background-color);
  background-image: var(--base-background-texture);
  border-right: 1px solid var(--base-border-color);
  justify-content: space-between;
  border-radius: 0;
  display: flex;
  height: 100%;
  margin: 0;
}

.x-sidebar.ui.vertical.icon.menu div {
  border: none;
}

.x-sidebar.ui.menu .item {
  padding: 1em 0;
  font-size: 0.8rem;
}

.x-sidebar.ui.menu:after {
  content: none;
}
