.expenses {
    display: grid;
    grid-template-columns: 280px 1fr 1fr 1fr 1fr;
    grid-template-areas:
    'filter list list list list';
    width: 100%;
    height: 100%;
}

.expenses .list {
    grid-area: list;
    padding: 1em;
}