.expense.item .left .tag {
  align-items: center;
  align-content: center;
  display: flex;
}

.expenses .item.new .left .tag .dropdown.icon {
  display: none;
}

.tag .item .icon {
  font-size: 1.3em;
}

.tag.picker .item span {
  padding: 0.8em;
  text-overflow: ellipsis;
}

.ui.pointing.dropdown.tag.picker > .menu {
  margin-top: 0.6em;
  left: -31px;
}

.ui.pointing.dropdown > .menu:after {
  left: 64px;
  background: rgba(0, 0, 0, 0.03);
  border-bottom: none;
}

.expense.item .left .tag.picker .icon {
  border-radius: 0.28571429rem;
  color: #636a79;
}

.ui.dropdown.tag.picker .menu .item {
  padding: 12px !important;
  min-width: 120px;
}

.ui.dropdown.tag.picker .menu .item i.icon {
  margin-left: 0;
  margin-right: 0;
}