.location input {
    font-size: 14px;
}

.location .ui.label {
    display: flex;
    align-items: center;
}

.location.text {
    font-weight: bold;
    font-size: 14px;
    text-overflow: ellipsis;
}