.expenses.header {
  display: flex;
  margin-bottom: 12px;
  justify-content: center;
}

.expenses .item.new {
  font-size: 14px;
  border: none;
  box-shadow: 0 0 12px -8px #000;
  padding: 0;
}

.expenses .item.new .content {
  justify-content: space-between;
}

.expenses .item.new .content > div:first-child {
  display: flex;
  border: 1px solid rgba(204, 204, 204, 0.897);
  background-color: #e8e8e8;
  align-self: stretch;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 1em;
}

.expenses .item.new .tag.picker {
  display: flex;
  align-self: stretch;
  align-content: center;
  align-items: center;
}

.expenses .item.new .content .center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(204, 204, 204, 0.897);
  border-bottom: 1px solid rgba(204, 204, 204, 0.897);
  align-self: stretch;
}

.expenses .item.new .content .center > div{
  display: flex;
  align-content: center;
  align-self: stretch;
}

.expenses .item.new .content .center > div:nth-child(2){
  margin: 0 10px;
}

.expenses .item.new .content > div {
  padding: 0.8em;
}

.expenses .item.new .buttons {
  display: flex;
  justify-content: space-between;
  background-color: #e8e8e8;
  align-self: stretch;
  padding: 0.8em;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 1px solid rgba(204, 204, 204, 0.897);
}

.expenses .item.new .buttons button:first-child {
  margin-right: 0.25em;
}

.expenses .item.empty {
  box-shadow: 0 0 4px 1px rgba(204, 204, 204, 0.897);
  padding: 0;
  margin: 2.17px 0;
  border: none;
}

.expenses .item.empty > div {
  padding: 0.8em;
  border: 1px solid rgba(204, 204, 204, 0.897);
  align-self: stretch;
}

.expenses .item.empty div:nth-child(1) {
  justify-content: center;
  font-weight: bold;
  font-style: italic;
  font-size: 17px;
  padding: 0.8em 4em 0.8em 4em;
  border-top-left-radius: 0.28571429rem;
  border-bottom-left-radius: 0.28571429rem;
}

.expenses .item.empty div:nth-child(2) {
  background-color: #e8e8e8;
  border-top-right-radius: 0.28571429rem;
  border-bottom-right-radius: 0.28571429rem;
  border-left: none;
}

.new .location-date-div {
  display: flex;
  flex-flow: column;
  font-weight: bold;
  padding-left: 3px;
  justify-content: space-between;
  align-self: stretch;
}

.ui.dropdown.tag.picker .menu .item {
  padding: 12px !important;
}

.ui.dropdown.tag.picker .menu .item i.icon {
  margin-left: 0;
  margin-right: 0;
}

