.expenses .item.new .tag.picker {
  padding: 0;
}

.tag.picker .item {
  min-width: 125px;
}

.tag.picker .item .icon {
  font-size: 1.3em;
}

.tag.picker .item span {
  padding: 0.8em;
  text-overflow: ellipsis;
}

.ui.pointing.dropdown.tag.picker > .menu {
  margin-top: 1.6em;
  left: -48px;
}

.ui.pointing.dropdown > .menu:after {
  left: 64px;
}

.expense.item.new .left .tag.picker .icon {
  border-radius: 0.28571429rem;
  color: #636a79;
}
