.expense.item .left .tag {
  align-items: center;
  align-content: center;
  display: flex;
}

.expenses .item.new .left .tag .dropdown.icon {
  display: none;
}

.tag .item .icon {
  font-size: 1.3em;
}

.tag.picker .item span {
  padding: 0.8em;
  text-overflow: ellipsis;
}

.ui.pointing.dropdown.tag.picker > .menu {
  margin-top: 1.6em;
  left: -48px;
}

.ui.pointing.dropdown > .menu:after {
  left: 64px;
}

.expense.item .left .tag.picker .icon {
  border-radius: 0.28571429rem;
  color: #636a79;
}
