.expenses .list .header {
  display: flex;
  justify-content: center;
}

.expenses .item.new .content .center .ui.label.label {
  background: rgba(232, 232, 232);
}

.expenses .item.new .content .center > div:nth-child(2) {
  margin: 0 10px;
}

.expenses .item.new .buttons {
  display: flex;
  justify-content: space-between;
  background-color: rgba(232, 232, 232, 0.35);
  background-image: var(--base-background-texture);
  align-self: stretch;
  padding: 0.8em;
  border-left: 1px solid var(--base-border-color);;
}

.expenses .item.new .buttons button:first-child {
  margin-right: 0.25em;
}

.expenses .item.empty > div {
  padding: 0.8em;
  align-self: stretch;
}

.expenses .item.empty div:nth-child(1) {
  justify-content: center;
  font-weight: bold;
  font-style: italic;
  padding: 0.8em 4em 0.8em 4em;
}

.expenses .item.empty div:nth-child(2) {
  background-color: rgba(232, 232, 232, 0.35);
  background-image: var(--base-background-texture);
  border-left: 1px solid var(--base-border-color);
}

.ui.dropdown.tag.picker .menu .item {
  padding: 12px !important;
  min-width: 120px;
}

.ui.dropdown.tag.picker .menu .item i.icon {
  margin-left: 0;
  margin-right: 0;
}
