.expense-list{
    margin: auto;
}

.expense-item,
.expense-list-header {
    display: flex;
    position: relative;
    background: rgb(255, 255, 255);
    /*box-shadow: rgb(204, 204, 204) 0px 1px 2px;*/
    border : 1px solid rgba(204, 204, 204, 0.897);
    margin-top: 8px;
    padding: 6px;
    font-size: 14px;
    border-radius: 4px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.new-expense-div{
    display: flex;
    flex-flow: column;
    background: rgb(255, 255, 255);
    border : 1px solid rgba(204, 204, 204, 0.897);
    font-size: 14px;
    border-radius: 4px;
}

.new-expense-header{
    display: flex;
    background: rgb(255, 255, 255);
    border-bottom: 1px solid rgba(204, 204, 204, 0.897);
    padding: 6px;
    font-size: 14px;
    border-radius: 4px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    justify-content: center;
    font-weight: bold;
}

.new-expense-content{
    display: flex;
    background: rgb(255, 255, 255);
    padding: 6px;
    font-size: 14px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.new-expense-content .new-expense-content-center{
    display: flex;
    align-content: center;
}

.new-expense-content .new-expense-content-center .input{
    max-height: 32px;
    align-self: center;
}

.new-expense-footer{
    display: flex;
    background: rgb(255, 255, 255);
    border-top: 1px solid rgba(204, 204, 204, 0.897);
    padding: 6px;
    font-size: 14px;
    border-radius: 4px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.new-expense-content-right .ui.button:first-child {
    margin-right: 6px;
}

.new-expense-content .ui.labeled.input input {
    width: 100px;
}

.new-expense-content .location-date-div{
    display: flex;
    flex-flow: column;
    padding-left: 3px;
}

.new-expense-content .new-expense-content-left{
    display: flex;
}

.new-expense-content .new-expense-content-right{
    display: flex;
    align-items: center;
}

.ui.selection.dropdown.tag-picker-dropdown{
    width : 45px;
    min-width: 45px;
    padding: 0px;
}

.ui.dropdown.tag-picker-dropdown .menu .item{
    padding: 12px !important;
}

.ui.dropdown.tag-picker-dropdown .menu .item i.icon{
    margin-left: 0;
    margin-right : 0;
}

.ui.dropdown.tag-picker-dropdown i.dropdown.icon{
    visibility : hidden;
    margin: 0;
    padding: 0;
}

.expense-item.editable > div{
    align-items: initial;
}

.expense-item:first-child {
    margin-top : 0;
}

.expense-list-header{
    padding : 8px;
    margin-top: 0;
}

.expense-item > div {
    display: flex;
    align-items: center;
}

.expense-item-content {
    padding-left: 3px;
}

.expense-value{
    font-size: 18px;
    font-weight: bold;
}

.location-text{
    font-weight: bold;
    font-size: 15px;
}

.expense-item-content{
    display: flex;
    align-items: initial;
}

.date-text{
    color : #616770;
}

.login-message-div{
    position: relative;
    background: rgb(255, 255, 255);
    border : 1px solid rgba(204, 204, 204, 0.7);
    margin: auto;
    padding: 16px;
    font-size: 14px;
    text-align: center;
    display: inline-block;
    border-radius : 4px;
}

.login-message-parent{
    display: flex;
    justify-content: center;
    align-items: center;
}

.expense-item-left-div > i{
    transform: scale(0.9);
}

.expense-list-item-icon{
    border-radius : 4px;
}

.location-date-input-div > div{
    margin-right : 5px;
}