.expense-filter{
    position: relative;
    background: rgb(255, 255, 255);
    /*box-shadow: rgb(204, 204, 204) 0px 1px 2px;*/
    border : 1px solid rgba(204, 204, 204, 0.7);
    padding: 8px;
    font-size: 14px;
    border-radius: 4px;
    margin-left : 16px;
}

.expense-filter-header{
    display: flex;
}

.expense-filter-item{
    margin-top: 10px;
}

.expense-filter-item:first-child{
    margin-top: 0;
}

.value-filter-div{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.value-filter-div > div{
    display: flex;
    flex : auto;
}

.value-filter-div > div{
    display: flex;
    flex : 1;
}

.value-filter-div > div.ui.selection.dropdown{
    display: flex;
    flex : 1;
}

.value-filter-div > div:first-child{
    padding-right : 5px;
}

.value-filter-div > div:last-child{
    padding-left : 5px;
}
