.cost .ui.label {
  display: flex;
  align-items: center;
}

.cost .ui.labeled.input input {
  font-size: 15px;
  border-left: 0 solid white;
  padding-left: 16px;
}

.cost .ui.labeled.input input:focus {
  border-left: 1px solid #85b7d9;
  padding-left: 1em;
}

.expense.item .center .cost.text {
  font-size: 16px;
  font-weight: bold;
}