.expenses .list .header {
    border: none;
    display: flex;
    flex-direction: column;
    background: none;
    justify-content: center;
    align-items: center;
}

.expenses .list .header > div {
    display: flex;
    align-self: stretch;
}

.expenses .list .header .actions {
    display: flex;
    justify-content: space-between;
    padding: 6px 0px;
}

.expenses .list .header .actions .ui.button.toggle.active {
    background-color: #6435c9 !important;
}

.expenses .list .header .actions button {
    margin-right: 3px;
    font-size: 12px;
}

.expenses .list .header .actions button:last-child {
    margin-right: 0;
}