.expense.item {
  display: flex;
  box-shadow: 0 0 12px -8px #000;
  border: 1px solid rgba(204, 204, 204, 0.897);
  margin-top: 0.8em;
  padding: 0.8em;
  font-size: 14px;
  border-radius: .28571429rem;
  align-items: center;
  justify-content: space-between;
}

.expense.item:first-child {
  margin-top: 0;
}

.expense.item > div {
  display: flex;
  align-items: center;
  align-self: stretch;
}

.expense.item .left .tag {
  padding-right: 1em;
}

.expense.item .left .tag i.inverted.bordered.icon {
  border-radius: .28571429rem;
}