.image-avatar {
    justify-content: center;
    align-items: center;
}

.image-avatar .ui.avatar.image {
    height: 2.5em;
    width: 2.5em;
}

.right.menu .item button span {
    padding: 5px 5px 5px 0 !important;
}

.right.menu .item button div {
    margin-right: 0 !important;
    padding: 5px 5px 2px 5px !important;
}