.flatpickr-datetime {
    background: rgb(255, 255, 255);
    border: 1px solid var(--base-border-color);
    padding: 6px;
    color: #616770;
    border-radius: .28571429rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
    width: 145px;
    font-size: 14px;
    text-align: center;
    align-self: stretch;
}


.expenses .item .date .date.text {
    color: #616770;
    font-size: 14px;
    text-overflow: ellipsis;
    font-style: italic;
    text-shadow: 0px 0px 1px #d3dce1;
}

.expenses .item .date .ui.label {
    display: flex;
    align-items: center;
    align-self: stretch;
    margin: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    font-size: 14px;
}

.expenses .item .date .ui.label>.icon{
    margin: 0;
}